.home {
    overflow-y: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
    .bg4 {
        display: block;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        min-width: 1440px;
        height: 90px;
        .bg4-img {
            width: 100%;
            // height: 100%;
        }
    }
    .bg5 {
        display: block;
        position: absolute;
        left: 0;
        top: 90px;
        z-index: -1;
        width: 100%;
        min-width: 1440px;
        height: 972px;
    }
    .wrap {
        position: relative;
        margin: 0 auto;
        width: 1440px;
        .block {
            position: relative;
            height: 486px;
            .title {
                position: absolute;
                left: 128px;
                line-height: 20px; /* 55.556% */
                font-family: Source Han Sans CN;
                font-style: normal;
                font-weight: 900;
                font-size: 36px;
                color: #000;
            }
            .subtitle {
                position: absolute;
                left: 128px;
                font-family: Source Han Sans CN;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                color: rgba(0, 0, 0, 0.6);
            }
            .btn {
                position: absolute;
                left: 128px;
                height: 50px;
                cursor: pointer;
            }
            .minted {
                display: inline-flex;
                align-items: center;
                padding: 12px 30px;
                border-radius: 6px;
                background: linear-gradient(0deg, #dcdfe2 0%, #dcdfe2 100%), #fff;
                cursor: not-allowed;
                text-align: center;
                font-family: PingFang SC;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                letter-spacing: -0.24px;
                gap: 8px;
                font-feature-settings: 'clig' off, 'liga' off;
            }
            .openSea {
                display: flex;
                position: absolute;
                left: 128px;
                top: 422px;
                align-items: center;
                cursor: pointer;
                font-family: Source Sans 3;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: rgba(0, 0, 0, 0.6);
            }
            .minting {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                width: 195px;
                background: #dcdfe2;
                text-align: center;
                font-family: PingFang SC;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
                letter-spacing: -0.24px;
                font-feature-settings: 'clig' off, 'liga' off;
            }
            .nft {
                position: absolute;
                right: 150px;
                top: 80px;
                flex-shrink: 0;
                width: 380.267px;
                height: 357.103px;
            }
        }
        .line {
            margin: 0 auto;
            width: 1161px;
            height: 1px;
            background-color: #d0d0d0;
        }
    }
}
