.home {
    overflow-y: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
    .bg1 {
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        min-width: 1440px;
        height: 700px;
    }
    .bg2 {
        display: block;
        position: absolute;
        top: 700px;
        z-index: -1;
        width: 100%;
        min-width: 1440px;
        height: 1029px;
    }
    .bg3 {
        position: absolute;
        top: 1729px;
        z-index: -1;
        width: 100%;
        min-width: 1440px;
        height: 1610px;
    }
    .wrap {
        position: relative;
        margin: 0 auto;
        width: 1440px;
        min-height: 100%;
        .why {
            position: relative;
            top: 43px;
            height: 150px;
            text-align: center;
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 500;
            font-size: 106px;
            color: rgba(255, 255, 255, 0.6);
        }
        .div1 {
            position: relative;
            width: 100%;
            height: 610px;
            .text1 {
                position: absolute;
                left: 110px;
                top: 80px;
                line-height: 20px; /* 64.516% */
                font-family: Outfit;
                font-style: normal;
                font-weight: 600;
                font-size: 31px;
                color: #fff;
            }
            .text2 {
                position: absolute;
                left: 122px;
                top: 118px;
                width: 500px;
                line-height: 88%; /* 96.8px */
                font-family: Outfit;
                font-style: normal;
                font-weight: 800;
                font-size: 110px;
                color: #fff;
                letter-spacing: -2.2px;
            }
            .download-btn {
                display: flex;
                position: absolute;
                left: 110px;
                bottom: 87px;
                align-items: center;
                flex-shrink: 0;
                border: 1px solid #fff;
                border-radius: 8px;
                width: 364px;
                height: 64px;
                cursor: pointer;
                font-family: Source Han Sans CN;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                color: #fff;
                .chrome {
                    flex-shrink: 0;
                    margin-left: 24px;
                    margin-right: 13px;
                    width: 36px;
                    height: 36px;
                }
                .download {
                    position: absolute;
                    right: 22px;
                    flex-shrink: 0;
                    width: 24px;
                    height: 24px;
                }
            }
            .image1 {
                position: absolute;
                right: 115px;
                top: 103px;
                flex-shrink: 0;
                width: 518px;
                height: 404.827px;
            }
        }
        .div-block {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0 60px;
            border-radius: 20px;
            width: 1220px;
            height: 376px;
            background: #f7f7f7;
            .image2 {
                flex-shrink: 0;
                width: 398px;
                height: 296px;
            }
            .title {
                margin-bottom: 20px;
                line-height: 120%; /* 57.6px */
                font-family: Outfit;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                color: var(--Darkness, #070707);
                letter-spacing: -0.96px;
            }
            .subtitle {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: #333;
            }
        }
        .div2 {
            position: relative;
            margin: 0 110px;
            height: 1072px;
            .text3 {
                position: absolute;
                left: 0;
                top: 127px;
                line-height: 88%; /* 70.4px */
                font-family: Source Han Sans CN;
                font-style: normal;
                font-weight: 500;
                font-size: 80px;
                color: #000;
            }
            .text4 {
                position: absolute;
                left: 0;
                top: 216px;
                line-height: 140%; /* 28px */
                font-family: Source Han Sans CN;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: #000;
                letter-spacing: 2px;
            }
            .image5 {
                position: absolute;
                left: 30px;
                top: 358px;
                width: 420px;
                height: 426.595px;
            }
            .share {
                position: absolute;
                left: 0;
                top: 825px;
                flex-shrink: 0;
                width: 525px;
                height: 44px;
                cursor: pointer;
            }
            .block1 {
                position: absolute;
                left: 730px;
                .svg1 {
                    flex-shrink: 0;
                    width: 50px;
                    height: 50px;
                }
                .title1 {
                    line-height: 120%; /* 57.6px */
                    font-family: Outfit;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    color: var(--Darkness, #070707);
                    letter-spacing: -0.96px;
                }
                .subtitle1 {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: #333;
                }
            }
        }
    }
    .wrap1 {
        width: 100%;
        background: linear-gradient(266deg, #00ffeb 1.29%, #6a6ffb 101.04%), #000;
    }
    .div3 {
        position: relative;
        margin: 0 auto;
        width: 1440px;
        height: 401px;
        .text5 {
            position: absolute;
            left: 164px;
            top: 95px;
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            color: #fff;
        }
        .text6 {
            position: absolute;
            left: 164px;
            top: 162px;
            width: 600px;
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            color: rgba(255, 255, 255, 0.6);
        }
        .mint {
            display: flex;
            position: absolute;
            left: 164px;
            top: 274px;
            align-items: center;
            padding: 12px 56px;
            border-radius: 6px;
            background: #fff;
            cursor: pointer;
            text-align: center;
            font-family: PingFang SC;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #000;
            letter-spacing: -0.24px;
            gap: 8px;
            font-feature-settings: 'clig' off, 'liga' off;
        }
        .image6 {
            position: absolute;
            right: 37px;
            bottom: 0;
            width: 678px;
            height: 355px;
        }
    }
}
