.footer {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 275px;
    background: linear-gradient(0deg, #000 0%, #000 100%), #000;
    .text1 {
        position: absolute;
        left: 110px;
        top: 60px;
        line-height: 88%; /* 35.2px */
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #fff;
    }
    .text2 {
        position: absolute;
        left: 110px;
        top: 131px;
        width: 600px;
        line-height: 130%; /* 36.4px */
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        color: rgba(255, 255, 255, 0.6);
    }
    .logo {
        display: flex;
        position: absolute;
        right: 110px;
        top: 110px;
        align-items: center;
        flex-shrink: 0;
        border-radius: 55px;
        width: 184px;
        height: 50px;
        background: linear-gradient(266deg, #00ffeb 1.29%, #6a6ffb 101.04%), #000;
        cursor: pointer;
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        color: #fff;
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-left: 4px;
            margin-right: 17px;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            background-color: #fff;
            img {
                width: 28px;
                height: 28px;
            }
        }
    }
}
