.wrap {
    width: 100%;
    background: linear-gradient(0deg, #000 0%, #000 100%), #000;
}
.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    width: 1440px;
    height: 275px;
    .left {
        display: flex;
        flex-direction: column;
        margin-left: 110wpx;
        .text1 {
            line-height: 88%; /* 35.2px */
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            color: #fff;
        }
        .text2 {
            width: 600px;
            line-height: 130%; /* 36.4px */
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .right {
        display: flex;
        right: 60px;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            border-radius: 55px;
            width: 183px;
            height: 36px;
            background: linear-gradient(266deg, #00ffeb 1.29%, #6a6ffb 101.04%), #000;
            cursor: pointer;
            font-family: Source Han Sans CN;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #fff;
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                margin-left: 4px;
                margin-right: 10px;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                background-color: #fff;
                img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .logos_telegram {
            margin-left: 10px;
            width: 36px;
            height: 36px;
        }
    }
}
