.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 360px;
    background: #fff;
    @media screen and (max-width: 500px) {
        transform: scale(0.8);
        transform-origin: 50% 50%;
     }
    .close {
        position: absolute;
        right: -28px;
        top: -28px;
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    .title {
        margin-top: 30px;
        margin-bottom: 36px;
        width: 300px;
        line-height: 120%; /* 28.8px */
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: var(--Darkness, #070707);
        letter-spacing: -0.48px;
    }
    .main {
        display: flex;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding-left: 16px;
            padding-right: 8px;
            padding-bottom: 245px;
            .bar {
                flex: 1;
                border-left: 1px dashed #4962bd;
            }
            .step {
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                border: 1px solid #4962bd;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                font-size: 16px;
                color: #4962bd;
            }
            .select {
                background-color: #4962bd !important;
                color: #fff !important;
            }
        }
        .right {
            padding-right: 16px;
            .subtitle {
                margin-bottom: 8px;
                font-size: 18px;
                color: var(--Darkness, #070707);
            }
            .item {
                .user {
                    display: flex;
                    position: relative;
                    z-index: 10;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    margin-top: 12px;
                    width: 228px;
                    height: 48px;
                    .border {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                    }
                    .img {
                        margin-right: 12px;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }
                    .name {
                        font-family: PingFang SC;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        color: #000;
                        font-feature-settings: 'clig' off, 'liga' off;
                    }
                }
                .text {
                    width: 275px;
                    line-height: 120%; /* 19.2px */
                    font-family: Source Han Sans CN;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #626262;
                }
                .hint {
                    margin-top: 6px;
                    width: 270px;
                    line-height: 120%; /* 14.4px */
                    font-family: Source Han Sans CN;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    color: #ff400e;
                }
                .btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    border-radius: 6px;
                    height: 48px;
                    background: linear-gradient(266deg, #00ffeb 1.29%, #6a6ffb 101.04%), #fff;
                    cursor: pointer;
                    text-align: center;
                    font-family: PingFang SC;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                    letter-spacing: -0.24px;
                    font-feature-settings: 'clig' off, 'liga' off;
                    .verified {
                        margin-right: 6px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .mint {
                    margin-top: 16px;
                    margin-bottom: 34px;
                    width: 238px;
                    height: 48px;
                    cursor: pointer;
                }
                .mintbtn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    background: #dcdfe2;
                    text-align: center;
                    font-family: PingFang SC;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                    letter-spacing: -0.24px;
                    font-feature-settings: 'clig' off, 'liga' off;
                }
            }
        }
    }
}
.congrats {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    width: 360px;
    height: 152px;
    background: #fff;
    @media screen and (max-width: 500px) {
       transform: scale(0.8);
       transform-origin: 50% 50%;
    }
    .image7 {
        position: absolute;
        left: 35px;
        top: 11px;
        flex-shrink: 0;
        width: 290px;
        height: 130px;
    }
    .title1 {
        margin-top: 30px;
        line-height: 120%; /* 28.8px */
        text-align: center;
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: var(--Darkness, #070707);
    }
    .text1 {
        position: absolute;
        left: 30px;
        top: 79px;
        width: 300px;
        line-height: 120%; /* 21.6px */
        font-family: Source Han Sans CN;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var(--Darkness, #070707);
    }
    .close1 {
        position: absolute;
        right: -28px;
        top: -28px;
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
}